@use 'index' as *;

.container {
	margin: 0 auto;
	padding-bottom: rem(50);
	border-radius: rem(25);
	background-color: #fff;

	@include breakpoint(desktop) {
	}

	@include breakpoint-down(mobile) {
	}
}
