@use 'index' as *;

.container {
	width: 90%;
	margin: rem(25) auto;

	@include breakpoint(desktop) {
		width: rem(800);
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-columns: 25% 25% 25% 25%;
		grid-gap: rem(25);
	}

	.dashboard {
		margin: rem(25) auto;
		border-radius: rem(15);
		background-color: $dark-blue;

		@include breakpoint(desktop) {
			grid-row-start: span 2;
		}

		&__user {
			padding: rem(30);
			display: flex;
			align-items: center;

			background-color: $blue;
			border-radius: rem(15);

			@include breakpoint(desktop) {
				display: block;
			}

			&__pic {
				max-width: rem(50);
				margin-right: rem(20);

				border: rem(3) solid #fff;
				border-radius: 50%;

				@include breakpoint(desktop) {
					margin-bottom: rem(20);
					margin-right: 0;
					max-width: rem(70);
				}
			}

			&__info {
				:first-child {
					font-size: rem(14);
					font-weight: 300;
					color: $pale-blue;

					@include breakpoint(desktop) {
						margin-bottom: rem(5);
					}
				}

				:nth-child(2) {
					font-weight: 300;
					font-size: rem(20);

					@include breakpoint(desktop) {
						font-size: rem(30);
					}
				}
			}
		}

		&__menu {
			width: 90%;
			margin: 0 auto;
			padding: rem(20) rem(10);
			display: flex;
			justify-content: space-between;

			@include breakpoint(desktop) {
				display: block;
			}

			p {
				font-size: rem(16);
				color: $pale-blue;
				cursor: pointer;
				transition: 0.2s;

				&:hover {
					color: #fff;
				}
			}

			p:not(:last-child) {
				@include breakpoint(desktop) {
					margin-bottom: rem(15);
				}
			}

			.active {
				color: #fff;
			}
		}
	}

	.stats {
		@include breakpoint(desktop) {
			display: grid;
			align-items: center;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 50% 50%;
			grid-row-start: 1;
			grid-row-end: 3;
			grid-column-start: 2;
			grid-column-end: 5;
		}

		.box {
			margin-bottom: rem(20);
			position: relative;
			width: 100%;
			height: rem(150);

			@include breakpoint(desktop) {
				height: 75%;
			}

			overflow: hidden;
			border-radius: rem(15);

			&__icon {
				position: absolute;
				right: rem(20);
				top: rem(-10);
				width: rem(60);
				height: auto;
			}

			.absolute-box {
				padding: rem(25);
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 75%;

				border-radius: rem(15);
				background-color: $dark-blue;
				cursor: pointer;
				transition: 0.2s;

				&:hover {
					background-color: $desaturated-blue;
				}

				.title {
					margin-bottom: rem(5);
					display: flex;
					justify-content: space-between;
					align-items: center;

					font-weight: 500;

					:nth-child(2) {
						letter-spacing: rem(2);
						cursor: pointer;
						color: $pale-blue;
						font-size: rem(22);
						transition: 0.2s;

						&:hover {
							color: #fff;
						}
					}
				}

				.hours {
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-weight: 300;

					@include breakpoint(desktop) {
						flex-direction: column;
						align-items: flex-start;
					}

					:first-child {
						font-size: rem(28);

						@include breakpoint(desktop) {
							margin-bottom: rem(10);
						}
					}
					:nth-child(2) {
						font-size: rem(14);
						color: $pale-blue;
					}
				}
			}
		}

		.box1 {
			background-color: $work-red;
		}

		.box2 {
			background-color: $play-blue;
		}

		.box3 {
			background-color: $study-red;
		}

		.box4 {
			background-color: $exercise-green;
		}

		.box5 {
			background-color: $social-violet;
		}

		.box6 {
			background-color: $self-care-orange;
		}
	}
}
