@use 'functions' as *;
@use '_colors' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-size: rem(13);
	font-family: 'Manrope', sans-serif;
	background: $light-grayish-blue;
	color: $dark-grayish-blue;
}
