@use 'index' as *;

.container {
	border-radius: rem(15);
	box-shadow: rem(2) rem(2) rem(10) rem(2) rgba($dark-grayish-blue, 0.1);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;

	background-color: #fff;

	@include breakpoint(desktop) {
		display: flex;
		justify-content: space-between;
		max-width: rem(1000);
		max-width: 80%;
	}

	@include breakpoint-down(mobile) {
		width: 90%;
		margin: 0 auto;
		// padding-bottom: rem(15);
	}

	.hero-box {
		@include breakpoint(desktop) {
			overflow: hidden;
			max-width: 60%;
		}

		.hero {
			@include breakpoint(desktop) {
				height: 100%;
				width: auto;
				max-width: rem(400);
				border-radius: rem(15) 0 0 rem(15);
			}

			@include breakpoint-down(mobile) {
				width: 100%;
				height: auto;
				border-radius: rem(15) rem(15) 0 0;
				margin-bottom: rem(40);
			}
		}
	}

	.content {
		position: relative;
		line-height: 1.5;

		@include breakpoint(desktop) {
			padding: rem(40);
			width: rem(400);
			min-width: 40%;
			max-width: 60%;
		}

		&__title {
			@include breakpoint(desktop) {
				margin-bottom: rem(25);
			}

			@include breakpoint-down(mobile) {
				width: 80%;
				margin: 0 auto;
				margin-bottom: rem(15);
			}
		}

		&__desc {
			line-height: 1.7;

			color: $dark-blue;

			@include breakpoint(desktop) {
				margin-bottom: rem(25);
			}
			@include breakpoint-down(mobile) {
				width: 80%;
				margin: rem(35) auto;
				margin-top: rem(0);
			}
		}

		&__author {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@include breakpoint-down(mobile) {
				padding-bottom: rem(20);
				position: relative;
				width: 80%;
				margin: 0 auto;
			}

			&__avatar {
				border-radius: 50%;
				max-width: rem(50);
				height: auto;
			}

			&__info {
				position: relative;
				left: rem(-40);

				@include breakpoint-down(mobile) {
					left: rem(-20);
				}
			}

			&__shared--mobile {
				@include breakpoint(desktop) {
					display: none;
				}

				@include breakpoint-down(mobile) {
					width: 100%;
					padding: rem(32);
					padding-left: rem(45);
					padding-right: rem(45);
					position: absolute;
					bottom: 0;
					left: 0;
					display: none;
					align-items: center;

					border-radius: 0 0 rem(15) rem(15);
					background-color: $dark-grayish-blue;

					span {
						margin-right: rem(15);

						color: $grayish-blue;
						text-transform: uppercase;
						letter-spacing: rem(6);
						font-size: rem(15);
					}

					.social-media-icon {
						margin-left: rem(20);
					}
				}
			}

			&__btn {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: rem(10);
				z-index: 2;

				@include breakpoint(desktop) {
					position: relative;
				}

				border-radius: 50%;
				background-color: $light-grayish-blue;
				cursor: pointer;

				&--svg {
					width: rem(15);
					height: rem(15);
				}

				.content__author__shared--desktop {
					@include breakpoint-down(mobile) {
						display: none !important;
					}

					@include breakpoint(desktop) {
						padding: rem(15) rem(30);
						position: absolute;
						bottom: rem(60);
						left: 50%;
						transform: translateX((-50%));
						display: none;
						align-items: center;
						justify-content: space-evenly;

						border-radius: rem(10);
						background-color: $dark-grayish-blue;
						box-shadow: 0 rem(2) rem(10) rem(2) rgba($dark-grayish-blue, 0.2);

						&::before {
							content: ' ';
							position: absolute;
							top: 100%;
							left: 50%;
							margin-left: -10px;
							border-width: 10px;
							border-style: solid;
							border-color: $dark-grayish-blue transparent transparent transparent;
						}

						span {
							color: $grayish-blue;
							text-transform: uppercase;
							letter-spacing: rem(6);
							font-size: rem(13);
						}

						.social-media-icon {
							margin-left: rem(15);
						}
					}
				}
			}
		}
	}
}
