@use 'functions' as *;
@use '_colors' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-size: rem(18);
	font-family: 'Rubik', sans-serif;
	background: $very-dark-blue;
	color: #fff;
}
