// Primary
$CTA-text: hsl(356, 100%, 66%);
$CTA-hover-bg: hsl(355, 100%, 74%);
$heaing: hsl(208, 49%, 24%);

// Neutral
$white: hsl(0, 0%, 100%);
$footer-text: hsl(240, 2%, 79%);
$body-copy: hsl(207, 13%, 34%);
$footer-bg: hsl(240, 10%, 16%);

// Background gradient - Intro/CTA mobile nav:
$very-light-red: hsl(13, 100%, 72%);
$light-red: hsl(353, 100%, 62%);

// Background gradient - body:
$dark-gray-blue: hsl(237, 23%, 32%);
$dark-desaturated-blue: hsl(237, 23%, 32%);
