@use 'index' as *;

.container {
	width: 90%;
	padding: rem(35) rem(25);
	margin: rem(150) auto;
	position: relative;

	background-color: $dark-grayish-blue;
	border-radius: rem(15);
	text-align: center;

	@include breakpoint(desktop) {
		max-width: rem(500);
	}

	.title {
		margin-bottom: rem(30);
		color: $neon-green;
		font-size: rem(12);
		letter-spacing: rem(3);
		font-weight: 400;
		text-transform: uppercase;
	}

	.quote {
		margin-bottom: rem(20);
		font-size: rem(22);
		line-height: 1.5;
	}

	.mobile-devider {
		margin-bottom: rem(20);
		@include breakpoint(desktop) {
			display: none;
		}
	}

	.desktop-devider {
		margin-bottom: rem(20);
		@include breakpoint-down(mobile) {
			display: none;
		}
	}

	.dice-container {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(60);
		height: rem(60);
		border-radius: 50%;
		background-color: $neon-green;
		cursor: pointer;
		transition: 0.1s;

		&:hover {
			box-shadow: 0 0 rem(20) rem(5) rgba($neon-green, 0.5);
		}
	}
}
