@use 'functions' as *;
@use 'colors' as *;
@use 'breakpoint' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../../dist/images/bg-intro-mobile.webp');

	@include breakpoint(desktop) {
		background-image: url('../../dist/images/bg-intro-desktop.webp');
	}
	font-size: rem(16);
	font-family: 'Poppins', sans-serif;
	color: #fff;

	&::before {
		content: '';
		background-color: $red;
		width: 100vw;
		min-height: 100vh;
		position: fixed;
		left: 0;
		top: 0;
		opacity: 0.6;
	}
}
