@use 'index' as *;

.container {
	position: relative;
	// Start of Header
	.header {
		width: 90%;
		position: absolute;
		top: rem(40);
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: space-between;
		align-items: center;

		z-index: 1;

		&__logo {
			cursor: pointer;
		}

		&__nav {
			:not(:last-child) {
				margin-right: rem(30);
				font-size: rem(14);
			}

			&__link {
				text-decoration: none;
				color: $white;
			}
			.contact {
				padding: rem(15) rem(30);

				font-size: rem(14);
				font-family: 'Fraunces', serif;
				text-transform: uppercase;
				background-color: $white;
				color: $very-dark-desaturated-blue;
				border-radius: rem(30);
				transition: 0.2s;

				&:hover {
					color: $white;
					background-color: rgba($white, 0.4);
				}
			}
		}
	}
	// End of Header

	// Start of Hero
	.hero {
		width: 100%;
		height: 100vh;
		position: relative;

		background-image: url('../../dist/images/optimized/desktop/image-header.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		background-position: center;

		&__title {
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translate(-50%, -30%);

			font-family: 'Fraunces', serif;
			font-size: rem(50);
			text-transform: uppercase;
			letter-spacing: rem(6);
			color: $white;
		}
		&__arrow {
			position: absolute;
			top: 55%;
			left: 50%;
			transform: translate(-50%, -55%);
		}
	}
	// End of Hero

	// Start of Section 1
	.section-1 {
		width: 100%;
		display: flex;

		&__img {
			width: 100%;

			@include breakpoint(desktop) {
				width: 50%;
				order: 1;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		&__article {
			width: 100%;

			@include breakpoint(desktop) {
				width: 50%;
				padding: 10%;
				// max-height: rem(600);
			}

			&__title {
				margin-bottom: rem(25);

				font-family: 'Fraunces', serif;
				font-size: rem(42);
			}

			&__desc {
				margin-bottom: rem(25);

				line-height: 1.6;
				color: $dark-grayish-blue;
			}

			&__link {
				position: relative;

				font-family: 'Fraunces', serif;
				letter-spacing: rem(2);
				font-size: rem(16);
				text-decoration: none;
				color: $very-dark-desaturated-blue;
				text-transform: uppercase;

				&::before {
					content: '';
					display: block;
					width: 110%;
					height: 8px;
					position: absolute;
					bottom: rem(-1);
					left: 50%;
					transform: translateX(-50%);
					border-radius: rem(3);
					background-color: rgba($yellow, 0.5);
					z-index: -1;
					transition: 0.2s;
				}

				&:hover::before {
					background-color: rgba($yellow, 1);
				}
			}
		}
	}
	// End of Section 1

	// Start of Section 2
	.section-2 {
		@extend .section-1;

		&__article {
			@extend .section-1__article;
			&__title {
				@extend .section-1__article__title;
			}
			&__desc {
				@extend .section-1__article__desc;
			}
			&__link {
				@extend .section-1__article__link;
				&::before {
					background-color: rgba($soft-red, 0.5);
				}

				&:hover::before {
					background-color: rgba($soft-red, 1);
				}
			}
		}
		&__img {
			@extend .section-1__img;
			@include breakpoint(desktop) {
				order: -1;
			}
			img {
				width: 100%;
				height: auto;
			}
			.desktop {
			}
			.mobile {
			}
		}
	}
	// End of Section 2

	// Start of Section 3
	.section-3 {
		@extend .section-1;

		&__article--left {
			width: 50%;
			position: relative;

			text-align: center;

			&__img {
				width: 100%;
				height: auto;
			}

			&__title {
				position: absolute;
				top: 65%;
				left: 50%;
				transform: translate(-50%, -65%);

				font-size: rem(32);
			}

			&__desc {
				width: 45%;
				position: absolute;
				top: 80%;
				left: 50%;
				transform: translate(-50%, -80%);

				font-size: rem(13);
				line-height: 1.7;
			}
		}

		&__article--right {
			@extend .section-3__article--left;

			&__img {
				@extend .section-3__article--left__img;
			}
			&__title {
				@extend .section-3__article--left__title;
			}
			&__desc {
				@extend .section-3__article--left__desc;
			}
		}
	}
	// End of Section 3

	// Start of Clients
	.clients {
		padding: rem(100);

		&__title {
			text-align: center;
			font-size: rem(26);
			letter-spacing: rem(6);
			text-transform: uppercase;
			font-family: 'Fraunces', serif;
			color: $dark-grayish-blue;
		}
		&__div {
			display: flex;
			justify-content: space-between;
			padding: clamp(rem(20), rem(60), rem(70));
			margin: 0 auto;

			.client {
				text-align: center;
				padding: rem(20);

				&__pic {
					max-width: rem(100);
					margin-bottom: rem(50);

					border-radius: 50%;
				}

				&__opinion {
					margin-bottom: rem(50);

					color: $very-dark-grayish-blue;
					line-height: 1.7;
				}

				&__name {
					margin-bottom: rem(10);

					font-size: rem(22);
					font-family: 'Fraunces', serif;
				}

				&__role {
					color: $dark-grayish-blue;
					font-size: rem(15);
				}
			}
		}
	}
	// End of Clients

	// Start of Album
	.album {
		display: flex;
		width: 100%;
		&__pic {
			max-width: 25%;
		}
	}
	// End of Album

	// Start of Footer
	.footer {
		width: 100%;
		padding: rem(50);

		text-align: center;
		background-color: lighten($footer, 20);

		&__logo {
			margin-bottom: rem(20);

			path {
				fill: $graphic-design-text;
			}
		}

		&__nav {
			margin-bottom: rem(60);

			&__link {
				text-decoration: none;
				color: $graphic-design-text;
				transition: 0.2s;

				&:nth-child(2) {
					margin: 0 rem(30);
				}

				&:hover {
					color: $white;
				}
			}
		}

		&__social {
			&__icon {
				cursor: pointer;
				transition: 0.2s;

				&:not(:last-child) {
					margin-right: rem(25);
				}

				&:hover path {
					fill: $white;
				}
			}
		}
	}
	// End of Footer

	// Hidden on mobile
	.desktop {
		@include breakpoint-down(mobile) {
			display: none;
		}
	}
	// Hidden on desktop
	.mobile {
		@include breakpoint(desktop) {
			display: none;
		}
	}
}
