@use 'index' as *;

.container {
	margin: 0 auto;
	padding-bottom: rem(50);
	border-radius: rem(25);
	background-color: #fff;

	@include breakpoint(desktop) {
		width: rem(900);
		max-width: 70%;
		height: rem(600);
		min-height: rem(400);
		max-height: 80vh;
		display: flex;
		justify-content: space-between;
		position: relative;
		margin-top: rem(20);
	}

	@include breakpoint-down(mobile) {
		width: rem(400);
		max-width: 90%;
		margin-top: rem(200);
		margin-bottom: rem(50);
	}

	.hero {
		&__mobile {
			height: rem(160);
			width: 80%;
			margin: 0 auto;
			position: relative;
			top: rem(-145);

			&__pattern {
				position: relative;
				top: rem(-105);
				left: 0;
			}
		}

		@include breakpoint(desktop) {
			width: 40%;
			position: relative;
		}

		&__desktop {
			width: 100%;
			height: auto;
			margin: 0 auto;

			&__bg {
				width: 130%;
				height: auto;
				position: absolute;
				top: 50%;
				left: -20%;
				transform: translateY(-50%);
				overflow: hidden;
			}

			&__box {
				width: 50%;
				height: auto;
				position: absolute;
				top: 54%;
				left: -34%;
				transform: translateY(-50%);
			}

			&__pattern {
				width: 100%;
				height: auto;
				position: absolute;
				top: 50%;
				left: -20%;
				transform: translateY(-50%);
			}
		}

		@include breakpoint(desktop) {
			.hero__mobile {
				display: none;
			}
		}

		@include breakpoint-down(mobile) {
			.hero__desktop {
				display: none;
			}
		}
	}

	.questions {
		@include breakpoint(desktop) {
			padding: rem(40);
			width: 50%;

			.title {
				text-align: left;

				padding-left: rem(30);
				margin-top: rem(50);
				margin-bottom: rem(25);
			}
		}
	}

	.title {
		text-align: center;
		font-size: rem(34);
		margin-bottom: rem(40);
	}
	.box {
		width: 85%;
		margin: 0 auto;
		border-bottom: rem(2) solid $devider;
		padding: rem(15) 0;
		cursor: pointer;

		&__question {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			color: $very-dark-grayish-blue;

			&__p {
				width: 80%;

				&:hover {
					color: $soft-red;
				}
			}
			&__arrow {
				width: rem(20);
				height: auto;
				transform: scale(0.6);
			}
		}

		&__answer {
			display: none;
			color: $dark-grayish-blue;
			line-height: 1.5;
			width: 95%;
			margin-top: rem(10);
		}
	}
	.active {
		.box__question {
			font-weight: 700;
			color: $very-dark-blue;
		}

		.box__answer {
			display: block;
		}

		.box__question__arrow {
			transform: scale(-0.6);
		}
	}
}
